.vm-archive-table-section {
    flex: 1 0 auto;
    background-color: #f7f7f7;
    height: calc(100vh - 119px);
    position: relative;
}

.vm-archive-table-section .ps__rail-x {
    margin: 0;
}

.vm-archive-table-section .ps__rail-y {
    margin: 0;
}

.vm-archive-table-container
{
    position: relative;
    margin-top: 16px;
}

.vm-archive-table-container .vm-archive-item
{
    width: 100%;
    padding: 0 8px 8px;
    display: inline-block;
}

.vm-archive-table-container .vm-archive-item .vm-archive-item-body
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.vm-archive-table-container .vm-archive-item .event-info
{
    padding: 5px 0;
}

.vm-office-info
{
    font-family: "ubuntumedium";
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vm-time-event-info
{
    font-family: "ubunturegular";
    margin-bottom: 0;
    color: #9a9a9a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    right: 0;
}

.vm-user-full-name-not-recognized 
{
    text-transform: uppercase;
    color: #ffa7a7;
    font-weight: bold;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vm-archive-table-container .vm-archive-item-body .archive-block-info
{
    padding: 0 16px 8px;
}

.vm-archive-table-container .archive-item-image img
{
    width: 100%;
    height: 280px;
}

.vm-archive-table-container .archive-item-image:before
{
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.56;
    background-color: #00b5ff;
}

.vm-archive-table-container .archive-item-image:hover:before
{
    display: block;
    position: absolute;
}

.vm-archive-table-container .archive-item-image a
{
    display: none;
    color: #ffffff;
    left: 50%;
    top: 50%;
    margin-top: -53px;
    margin-left: -33px;
    font-size: 67px;
    cursor: pointer;
}

.vm-archive-table-container .archive-item-image i
{
    font-size: 67px;
}

.vm-archive-table-container .archive-item-image:hover a
{
    display: block;
}

.vm-icon-edit-event
{
    right: 0;
    bottom: 0;
}

.vm-archive-item .vm-user-logo {
    border: 0;
}

.vm-archive-item .vm-user-logo img {
    width: 40px;
    height: 40px;
}

.vm-archive-item .vm-user-logo:before,
.vm-archive-item .vm-user-logo:after
{
    width: 0px;
    height: 0px;
}

.vm-modal-video + .modal-backdrop {
    background-color: #fff;
}

.vm-modal-video .modal-title {
    font-weight: 500;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.vm-modal-video .modal-body {
    padding: 0;
}

.vm-modal-video .modal-footer {
    padding: 0;
    border: 0;
}

.vm-modal-video .modal-content {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.26);
}



@media (min-width: 400px) {
    .vm-archive-table-container .vm-archive-item
    {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .vm-archive-table-container .vm-archive-item
    {
        width: 50%;
    }

    .vm-modal-video .modal-dialog {
        max-width: 800px;
        margin: 10rem auto;
    }
}

@media (min-width: 768px) {
    .vm-archive-table-container .vm-archive-item
    {
        width: 33%;
    }
}

@media (min-width: 992px) {
    .vm-archive-table-container .vm-archive-item
    {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .vm-archive-table-container .vm-archive-item
    {
        width: 20%;
    }
}






