.vm-table-header-section {
	height: 55px;
	border-bottom: 1px solid #c2c2c2;
}

.vm-show-calendar-button:active,
.vm-show-calendar-button:focus,
.vm-show-calendar-button:hover {
	color: #00b5ff;
	text-decoration: none;
}

.vm-show-calendar-button {
	min-width: 205px;
	display: inline-block;
	height: 40px;
	padding: 0 19px 0 16px;
	border-radius: 3px;
	line-height: 40px;
}

.vm-show-calendar-button:hover {
	background-color: #f3fbff;
}

.material-icons {
	line-height: inherit;
}

.vm-calendar-table {
	font-family: 'ubuntumedium';
	font-size: 16px;
	color: #00b5ff;
	display: inline-block;
	height: 24px;
}

.vm-dropdown-item {
	height: 32px;
	/*margin: 0 16px;*/
}

.vm-dropdown-line {
	height: 32px;
	width: 70px;
}

.input-group-append {
	height: 40px;
}

.vm-search-container .input-group-text {
	padding: 0 11px 0 0;
	background-color: #ffffff;
	border-left: 0;
	cursor: pointer;
	color: #00b5ff;
}

.vm-search-container .input-group-text:hover {
	color: #67d3ff;
}

.vm-search-container .input-group-text:focus {
	color: #0095d2;
}

.form-control {
	transition: none;
	padding: 6px 12px;
}

.form-control:focus {
	border: 2px solid #00b5ff;
	box-shadow: none;
	padding-left: 11px;
}

.vm-search-container .form-control,
.vm-search-container .form-control:focus {
	border-right: 0;
}

.vm-search-container .form-control:focus + .input-group-append .input-group-text {
	border: 2px solid #00b5ff;
	border-left: 0;
	padding: 0 10px 0 0;
}

.vm-add-new-user {
	height: 40px;
	border-radius: 3px;
	line-height: 40px;
	padding: 0 15px;
	overflow: hidden;
}

.vm-add-new-user:hover {
	text-decoration: none;
	background-color: #f3fbff;
}