.daterangepicker {
	position: absolute;
	color: inherit;
	background-color: #ffffff;
	border-radius: 3px;
	border: 1px solid #e2e2e2;
	width: 278px;
	max-width: none;
	padding: 0;
	margin-top: -65px;
	top: 100px;
	left: 20px;
	z-index: 3001;
	display: none;
	font-size: 15px;
	line-height: 1em;
	box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.18);
}

/*.daterangepicker:before, .daterangepicker:after {*/
	/*position: absolute;*/
	/*display: inline-block;*/
	/*border-bottom-color: rgba(0, 0, 0, 0.2);*/
	/*content: '';*/
/*}*/

/*.daterangepicker:before {*/
	/*top: -7px;*/
	/*border-right: 7px solid transparent;*/
	/*border-left: 7px solid transparent;*/
	/*border-bottom: 7px solid #ccc;*/
/*}*/

/*.daterangepicker:after {*/
	/*top: -6px;*/
	/*border-right: 6px solid transparent;*/
	/*border-bottom: 6px solid #fff;*/
	/*border-left: 6px solid transparent;*/
/*}*/

/*.daterangepicker.opensleft:before {*/
	/*right: 9px;*/
/*}*/

/*.daterangepicker.opensleft:after {*/
	/*right: 10px;*/
/*}*/

/*.daterangepicker.openscenter:before {*/
	/*left: 0;*/
	/*right: 0;*/
	/*width: 0;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

/*.daterangepicker.openscenter:after {*/
	/*left: 0;*/
	/*right: 0;*/
	/*width: 0;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

/*.daterangepicker.opensright:before {*/
	/*left: 9px;*/
/*}*/

/*.daterangepicker.opensright:after {*/
	/*left: 10px;*/
/*}*/

.daterangepicker.drop-up {
	margin-top: -7px;
}

.daterangepicker.drop-up:before {
	top: initial;
	bottom: -7px;
	border-bottom: initial;
	border-top: 7px solid #ccc;
}

.daterangepicker.drop-up:after {
	top: initial;
	bottom: -6px;
	border-bottom: initial;
	border-top: 6px solid #fff;
}

.daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
	float: none;
}

.daterangepicker.single .drp-selected {
	display: none;
}

.daterangepicker.show-calendar .drp-calendar {
	display: block;
}

.daterangepicker.show-calendar .drp-buttons {
	display: block;
}

.daterangepicker.auto-apply .drp-buttons {
	display: none;
}

.daterangepicker .drp-calendar {
	display: none;
}

.daterangepicker .drp-calendar.left {
	padding: 35px 27px 35px 35px;
}

.daterangepicker .drp-calendar.right {
	padding: 35px 35px 35px 27px;
}

.daterangepicker .drp-calendar.single .calendar-table {
	border: none;
	border-collapse: separate;
	border-spacing: 4px;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
	color: #fff;
	border: solid black;
	border-width: 0 2px 2px 0;
	border-radius: 0;
	display: inline-block;
	padding: 3px;
}

.daterangepicker .calendar-table .next span {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.daterangepicker .calendar-table .prev span {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.daterangepicker .calendar-table tr {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	min-width: 32px;
	margin: 4px;
	width: 32px;
	height: 32px;
	line-height: 28px;
	font-size: 14px;
	border-radius: 50%;
	border: 1px solid transparent;
	cursor: pointer;
	color: #4e5473;
}

.daterangepicker .calendar-table th {
	color: #8489aa;
	font-size: 12px;
	font-weight: normal;
	cursor: default;
	font-family: "robotomedium";
}

.daterangepicker .calendar-table {
	border: 1px solid #fff;
	border-radius: 4px;
	background-color: #fff;
}

.daterangepicker .calendar-table table {
	width: 100%;
	margin: 0;
	border-spacing: 4px;
	border-collapse: collapse;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
	background-color: #f3fbff;
	border-color: transparent;
	color: inherit;
}

.daterangepicker td.week, .daterangepicker th.week {
	font-size: 80%;
	color: #ccc;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
	background-color: #fff;
	border-color: transparent;
	color: #999;
}

.daterangepicker td.in-range {
	background-color: #00b5ff;
	border-color: transparent;
	color: #ffffff;
	border-radius: 0;
}

.daterangepicker td.start-date {
	border-radius: 50% 0 0 50%;
}

.daterangepicker td.end-date {
	border-radius: 0 50% 50% 0;
}

.daterangepicker td.start-date.end-date {
	border-radius: 50%;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
	background-color: #00b5ff;
	border-color: transparent;
	color: #ffffff;
}

.daterangepicker th.month {
	width: auto;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
	color: #999;
	cursor: not-allowed;
	text-decoration: line-through;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
	font-size: 12px;
	padding: 1px;
	height: auto;
	margin: 0;
	cursor: default;
}

.daterangepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
}

.daterangepicker select.yearselect {
	width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
	width: 50px;
	margin: 0 auto;
	background: #eee;
	border: 1px solid #eee;
	padding: 2px;
	outline: 0;
	font-size: 12px;
}

.daterangepicker .calendar-time {
	text-align: center;
	margin: 4px auto 0 auto;
	line-height: 30px;
	position: relative;
}

.daterangepicker .calendar-time select.disabled {
	color: #ccc;
	cursor: not-allowed;
}

.daterangepicker .drp-buttons {
	clear: both;
	text-align: center;
	padding: 24px;
	border-top: 1px solid #e0e0e0;
	display: none;
	vertical-align: middle;
	height: 80px;
}

.daterangepicker .drp-selected {
	font-size: 16px;
	font-family: "ubuntumedium";
	color: #00b5ff;
	padding: 35px 35px 0 35px;
}

.daterangepicker .drp-buttons .btn {
	margin: 0 8px;
	font-size: 13px;
	font-family: "ubunturegular";
	/*font-weight: bold;*/
	min-width: 160px;
}

/*.daterangepicker.show-ranges .drp-calendar.left {*/
	/*border-left: 1px solid #ddd;*/
/*}*/

.daterangepicker .ranges {
	float: none;
	text-align: left;
	margin: 0;
}

.daterangepicker.show-calendar .ranges {
	margin-top: 8px;
}

.daterangepicker .ranges ul {
	list-style: none;
	/*margin: 0 auto;*/
	padding: 0;
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
}

.daterangepicker .ranges li {
	font-family: "ubuntumedium";
	margin: 0 8px;
	font-size: 13px;
	padding: 9px 16px;
	color: #474747;
	cursor: pointer;
	display: inline-block;
}

.daterangepicker .ranges li:hover {
	/*background-color: #eee;*/
}

.daterangepicker .ranges li.active {
	background-color: #08c;
	color: #fff;
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
	.daterangepicker {
		width: auto;
	}

	/*.daterangepicker .ranges ul {*/
		/*width: 140px;*/
	/*}*/

	.daterangepicker.single .ranges ul {
		width: 100%;
	}

	.daterangepicker.single .drp-calendar.left {
		clear: none;
	}

	.daterangepicker.single.ltr .ranges, .daterangepicker.single.ltr .drp-calendar {
		float: left;
	}

	.daterangepicker.single.rtl .ranges, .daterangepicker.single.rtl .drp-calendar {
		float: right;
	}

	.daterangepicker.ltr {
		direction: ltr;
		text-align: left;
	}

	.daterangepicker.ltr .drp-calendar.left {
		clear: left;
		margin-right: 0;
	}

	.daterangepicker.ltr .drp-calendar.left .calendar-table {
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.daterangepicker.ltr .drp-calendar.right {
		margin-left: 0;
	}

	.daterangepicker.ltr .drp-calendar.right .calendar-table {
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.daterangepicker.ltr .drp-calendar.left .calendar-table {
		padding-right: 8px;
	}

	.daterangepicker.ltr .drp-calendar {
		float: left;
	}

	.daterangepicker.rtl {
		direction: rtl;
		text-align: right;
	}

	.daterangepicker.rtl .drp-calendar.left {
		clear: right;
		margin-left: 0;
	}

	.daterangepicker.rtl .drp-calendar.left .calendar-table {
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.daterangepicker.rtl .drp-calendar.right {
		margin-right: 0;
	}

	.daterangepicker.rtl .drp-calendar.right .calendar-table {
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.daterangepicker.rtl .drp-calendar.left .calendar-table {
		padding-left: 12px;
	}

	.daterangepicker.rtl .ranges, .daterangepicker.rtl .drp-calendar {
		text-align: right;
		float: right;
	}
}

@media (min-width: 730px) {
	.daterangepicker .ranges {
		width: auto;
	}

	.daterangepicker .drp-calendar.left {
		clear: none !important;
	}
}
