.vm-modal-add-new-user .upload-file-container {
    width: 148px;
    background: url(../images/photoMask.png) top center no-repeat;
    border-radius: 3px;
}

.vm-modal-add-new-user .upload-file-container label {
    display: block;
}

.vm-modal-add-new-user .upload-file-container a,
.vm-modal-add-new-user .add-office {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    /*color: #00b5ff;*/
    cursor: pointer;
}

.vm-modal-add-new-user .upload-file-container a:hover,
.vm-modal-add-new-user .add-office:hover {
    text-decoration: none;
    background-color: #f3fbff;
    color: #00b5ff;
}

.vm-modal-add-new-user .vm-worker-photo {
    width: 148px;
    height: 148px;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
}

.vm-modal-add-new-user .vm-input-worker-photo {
    display: none;
}

.vm-modal-add-new-user label {
    display: block;
    margin-bottom: 0;
    color: #909090;
    font-size: 14px;
}

.vm-modal-add-new-user input,
.vm-modal-add-new-user select {
    color: #000;
    border: 1px solid #ddd;
    padding: 7px 16px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 20px;
}

.vm-modal-add-new-user select {
    padding: 9px 16px 8px;
}

.vm-modal-add-new-user .selects-open-door select {
    margin-bottom: 10px;
}

#modalAddOfiice {
    z-index: 9999;
}

#modalAddOfiice .modal-dialog {
    margin: 17rem auto;
    box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.26);
}

#modalAddOfiice input,
#modalAddOfiice select{
    color: #000;
    border: 1px solid #ddd;
    padding: 7px 16px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 20px;
}

#modalAddOfiice input.editOption {
    width: 80%;
    position: absolute;
    top: 18px;
    border: 0;
    height: 30px;
    margin-left: 2px;
    left: 15px;
}

.vm-has-error {
    color: red;
    border: 1px solid red;
}

@media (min-width: 576px) {
    .vm-modal-add-new-user .modal-dialog {
        max-width: 680px;
    }
}
