.form-group label {
	font-family: "robotoregular";
	font-size: 14px;
}

.form-group label:not(.form-check-label) {
	color: #909090;
}

.form-control {
	height: 40px;
}

.form-check-label {
	color: #5a5a5a;
}