.vm-header-container {
	background-color: #ffffff;
	height: 64px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
}

.vm-header-nav {
	height: 64px;
}

.vm-header-nav a {
	text-decoration: none;
	display: inline-block;
	height: 64px;
	color: rgba(0, 0, 0, 0.53);
	line-height: 64px;
	padding: 0 8px;
	margin: 0 16px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	transition: opacity linear 300ms;
}

.vm-header-nav a:hover {
	opacity: 1;
}

.vm-header-nav a.active {
	color: #00b5ff;
	border-bottom-color: #00b5ff;
	opacity: 1;
}



.vm-logo {
	background: url(../images/logo-af.svg) no-repeat 0 0;
	width: 138px;
	height: 14px;
}

.vm-profile-controls-container {
	height: 64px;
}


.vm-user-menu,
.vm-user-menu:hover {
	font-family: "ubunturegular";
	font-size: 14px;
	line-height: 1;
	color: #727272;
	text-decoration: none;
}

.vm-user-logo {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #00b5ff;
	border-radius: 50%;
	margin-bottom: 0;
	overflow: hidden;
	min-width: 40px;
	min-height: 40px;
}

.vm-user-logo:after {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background-color: #00b5ff;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.vm-user-logo:before {
	content: "";
	display: block;
	width: 20px;
	height: 40px;
	background-color: #00b5ff;
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


.vm-search-control {

}