.vm-icon {
	display: inline-block;
	width: 24px;
	height: 34px;
	background: no-repeat center center;
	cursor: pointer;
	color: #a6a6a6;
}

.vm-icon:hover,
.vm-icon:focus {
	color: #616161;
}

.vm-icon.dropdown-toggle::after {
	display: none;
}

.vm-icon-help {
	color: #cfcfcf;
}

.vm-icon-help:hover {
	color: #a6a6a6;
}

.vm-icon-help:focus,
.vm-icon-help:active,
.vm-icon-help.active {
	color: #616161;
}

.vm-settings-icon {
	color: #faf7ff;
}

.vm-settings-icon:hover,
.vm-settings-icon:focus {
	color: #ffffff;
}

.vm-show-calendar-button {
	color: #00b5ff;
}

.vm-show-calendar-button .material-icons {
	color: #a1e4ff;
}

.vm-show-calendar-button:hover .material-icons {
	color: #00b5ff;
}

.vm-icon-prev-date,
.vm-icon-next-date {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #a6a6a6;
}

.vm-icon-prev-date:hover,
.vm-icon-next-date:hover {
	color: #616161;
	background-color: #f3fbff;
}

.vm-icon-filter {
	color: #854dff;
}