.vm-main-login {
	/*padding-bottom: 50px;*/
}

.vm-login-background {
	background: url(../images/chairs-computers-contemporary.jpg) no-repeat center center;
	background-size: cover;
	padding: 50px 50px 15px 50px;
	position: relative;
}

.vm-login-background:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(71, 71, 71, 0.82);
	z-index: 1;
}

.vm-login-logo {
	font-family: "ubuntumedium";
	font-size: 48px;
	text-transform: uppercase;
	color: #00b5ff;
}

.vm-login-logo b {
	font-family: "ubuntumedium";
	color: #ffffff;
}

.vm-login-form {
	width: 480px;
	background-color: #ffffff;
	padding: 60px 70px 80px 70px;
	border-radius: 3px;
	border: 1px solid #e2e2e2;
	font-size: 14px;
	position: relative;
	z-index: 2;
}

.vm-login-text-container {
	position: relative;
	z-index: 2;
	color: #ffffff;
	font-family: "ubuntulight";
	font-size: 24px;
	margin-left: 70px;
}

footer {
	position: relative;
	z-index: 2;
	font-size: 14px;
	color: #ffffff;
	font-family: "ubuntulight";
}

.vm-footer-nav a {
	color: #ffffff;
	display: inline-block;
	margin: 0 12px;
	cursor: pointer;
}

.vm-footer-nav a:hover,
.vm-footer-nav a:focus,
.vm-footer-nav a:active {
	color: #ffffff;
}

.vm-footer-copyright-login {
	opacity: 0.57;
}