.vm-statistic-table-section {
    flex: 1;
    background-color: #f7f7f7;
}

.vm-statistic-table-section .chart-block {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #d9d9d9;
    background-color: #ffffff;
    margin-top: 16px;
    padding: 30px 40px;
}

.vm-statistic-table-section .info-block {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #d9d9d9;
    background-color: #ffffff;
    margin-top: 16px;
    padding: 30px 18px;
}

.vm-statistic-table-section .title-statistic-block {
    font-family: "ubuntumedium";
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.vm-statistic-table-section .info-block .item-info {
    color: #909090;
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 20px 0;
}

.vm-statistic-table-section .info-block .value-info {
    font-family: "ubuntumedium";
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin: 20px 0;
    right: 0;
}

.vm-statistic-table-section .info-block .arrival-block .item-info {
    margin: 0;
}

.vm-statistic-table-section .info-block .arrival-block #arrivalTime {
    margin: 0;
    font-size: 30px;
}

.vm-statistic-table-section .info-block .arrival-block #leavingTime {
    margin: 0;
    font-size: 30px;
}

#vmStatisticChart {
    margin: 0 -30px;
}

.highcharts-credits {
    display: none;
}