

.vm-time-table-section {
	background-color: rgba(0, 0, 0, 0.07);
	flex: 1 0 auto;
	height: calc(100vh - 119px);
	position: relative;
}

.vm-time-table--left-panel {
	background-color: #e1e1e1;
	overflow: hidden;
	display: none !important;
}

.vm-time-table-cell {
	background-color: #ffffff;
	height: 64px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.24);
	border-right: 1px solid #efefef;
}



.vm-time-table-header {
	font-size: 14px;
	font-family: "ubunturegular";
	color: #474747;
	line-height: 36px;
	position: absolute;
	z-index: 3;
	top: -40px;
	min-width: 83.333333%;
}

.vm-user-full-name {
	font-family: "ubuntumedium";
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vm-user-specialty {
	font-family: "ubunturegular";
	margin-bottom: 0;
	color: #9a9a9a;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.vm-time-table-header .col {
	height: 40px;
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);*/
}

.vm-scroll-table-container .ps__rail-y {
	margin-top: 44px;
}

.vm-scroll-table-container .ps__rail-x {
	margin-left: calc(16.666667vw + 1px);
}

.vm-time-table--right-panel {
	padding-left: calc(16.666667vw + 15px);
	/*margin-left: 16.666667vw;*/
	/*overflow-x: auto;*/
}

.vm-time-table--right-panel .position-relative:nth-child(2) {
	margin-top: 40px;
}

.vm-user-item-cell {
	width: 16.666667vw;
	position: absolute;
	left: -16.666667vw;
	top: 0;
	z-index: 2;
}

.vm-user-item-cell.user-info {
	padding-top: 10px;
}

.vm-user-item-cell .vm-user-logo {
	border: 0;
}

.vm-user-item-cell .vm-user-logo:before,
.vm-user-item-cell .vm-user-logo:after {
	width: 0;
	height: 0;
}

.vm-user-item-cell .vm-user-logo img {
	width: 40px;
	height: 40px;
}

.vm-scroll-table-container {
	width: 100vw;
	position: relative;
}

.vm-time-table--right-panel .col {
	min-width: 67px;
}


.vm-time-line-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	/*margin: auto;*/
	margin: auto 0;
	z-index: 1;
}

.vm-time-line__green {
	background: linear-gradient(135deg, #cafa8b 45%, #26b354 0, #26b354 50%, #cafa8b 0, #cafa8b 101%, #26b354 0);
}

.vm-time-line__orange {
	background: linear-gradient(135deg, #ffefd7 45%, #ffae37 0, #ffae37 50%, #ffefd7 0, #ffefd7 101%, #ffae37 0);
}

.vm-time-line__blue {
	background: linear-gradient(135deg, #d7eeff 45%, #33a7ff 0, #33a7ff 50%, #d7eeff 0, #d7eeff 101%, #33a7ff 0);
}

.vm-time-line {
	height: 100%;
	background-size: 10px 10px;
}


.vm-user-work-time-info-container {
	position: absolute;
	right: 19px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border-radius: 3px;
	border: 1px solid #efefef;
	height: 54px;
	width: 175px;
	background-color: #ffffff;
	z-index: 2;
}

.vm-user-work-time-info-container .pull-left {
	width: 120px;
}

.vm-total-days {
	padding: 17px 0 17px 10px;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #efefef;
}



.vm-video-item
{
	/*width: %;*/
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
	display: table-cell;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 150px;
}

.vm-video-item .vm-video-item-image img
{
	width: 100%;
	height: 200px;
}

.vm-video-item .vm-video-item-image:before
{
	content: "";
	display: none;
	width: 100%;
	height: 100%;
	opacity: 0.56;
	background-color: #00b5ff;
}

.vm-video-item .vm-video-item-image:hover:before
{
	display: block;
	position: absolute;
}

.vm-video-item .vm-video-item-image a
{
	display: none;
	color: #ffffff;
	left: 50%;
	top: 50%;
	margin-top: -53px;
	margin-left: -33px;
	font-size: 67px;
	cursor: pointer;
}

.vm-video-item .vm-video-item-image i
{
	font-size: 67px;
}

.vm-video-item .vm-video-item-image:hover a
{
	display: block;
}

.vm-modal-video {
	z-index: 9999;
}

.vm-search-no-result {
	top: 0;
	bottom: 0;
	position: absolute;
	background: #e1e1e1;
	display: none;
}

.ic_search-no-results {
	width: 80px;
	height: 80px;
	object-fit: contain;
	display: block;
	margin: 60px auto 10px;
}

.text-no-result {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: normal;
	text-align: center;
	color: #8a8a8a;
}