.timelog-table-section {
    flex: 1 0 auto;
    background-color: #f7f7f7;
    height: calc(100vh - 119px);
    position: relative;
}

.timelog-table-section .ps__rail-x {
    margin-left: 0;
}

.timelog-table-section .ps__rail-y {
    margin-top: 36px;
}

.vm-timelog-table
{
    margin: 0 15px;
    border-left: 2px solid #dee2e6;
    border-right: 2px solid #dee2e6;
}

.vm-timelog-table-header {
    font-family: "ubunturegular";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    background-color: #fafafa;
    line-height: 32px;
    position: absolute;
    z-index: 3;
    min-width: 100%;
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    top: -32px;
}

.vm-timelog-table-container .row.position-relative .col {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #dee2e6;
}

.vm-timelog-table-container .row.position-relative .col:first-child {
    margin-left: 15px;
    border-left: 1px solid #dee2e6;
}

.vm-timelog-table-container .row.position-relative .col:last-child {
    margin-right: 30px;
    border-right: 1px solid #dee2e6;
}

.vm-timelog-table-container .vm-timelog-table-header .col:first-child {
    padding-left: 30px;
}

.vm-timelog-table-container .vm-timelog-table-header .col:last-child {
    padding-right: 45px;
}

.vm-timelog-table-container .position-relative:nth-child(2) {
    margin-top: 32px;
}

.vm-timelog-table-header .col-event{
    min-width: 155px !important;
    max-width: 155px !important;
    padding-right: 0 !important;
}

.vm-timelog-table-cell.col-event{
    min-width: 140px;
    max-width: 140px;
    padding-right: 0;
}

.vm-timelog-table-cell.col-photo{
    min-width: 80px;
    max-width: 80px;
    padding-right: 0;
}

.vm-timelog-table-cell.col-user{
    min-width: 250px;
    max-width: 250px;
    padding-right: 0;
}

.vm-timelog-table-cell.col-record{
    min-width: 100px;
    max-width: 100px;
    padding-right: 0;
}

.vm-timelog-table-cell.col-header-records{
    min-width: 600px;
    max-width: 600px;
    padding-right: 0;
}

.vm-timelog-table-cell.col-note{
    min-width: 400px;
}


.vm-timelog-table-cell .text-office-info {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: #454545;
    margin-bottom: 0;
}

.vm-timelog-table-cell .time-event-info {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: #878787;
    margin-bottom: 0;
}

.vm-timelog-table-cell .img-event {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 65px;
    height: 65px;
}

.vm-timelog-table-cell .vm-user-logo:before,
.vm-timelog-table-cell .vm-user-logo:after {
    width: 0px;
    height: 0px;
}

.vm-timelog-table-cell .vm-user-logo {
    border: 0;
}

.vm-timelog-table-cell .vm-user-logo img {
    width: 40px;
    height: 40px;
}

.vm-timelog-table-cell .user-info
{
    margin-bottom: 5px;
}

.vm-timelog-table-cell .vm-user-full-name {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: #454545;
    margin-bottom: 0;
    margin-top: 10px;
}

.vm-timelog-table-cell .image-info {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: #878787;
    margin-bottom: 0;
}

.vm-timelog-table-cell.col-record p {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 10px;
    margin-bottom: 5px;
}

.vm-timelog-table-cell.col-record a {
    font-family: "ubuntumedium";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 14px;
    color: #00b5ff;
    margin-bottom: 0;
}