@font-face {
	font-family: 'ubuntumedium';
	src: url('../fonts/ubuntu-medium.eot');
	src: url('../fonts/ubuntu-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu-medium.woff') format('woff'),
	url('../fonts/ubuntu-medium.ttf') format('truetype'),
	url('../fonts/ubuntu-medium.svg#ubuntumedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubunturegular';
	src: url('../fonts/ubuntu-regular.eot');
	src: url('../fonts/ubuntu-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu-regular.woff') format('woff'),
	url('../fonts/ubuntu-regular.ttf') format('truetype'),
	url('../fonts/ubuntu-regular.svg#ubunturegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntulight';
	src: url('../fonts/ubuntu-light.eot');
	src: url('../fonts/ubuntu-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu-light.woff') format('woff'),
	url('../fonts/ubuntu-light.ttf') format('truetype'),
	url('../fonts/ubuntu-light.svg#ubuntulight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntubold';
	src: url('../fonts/ubuntu-bold.eot');
	src: url('../fonts/ubuntu-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ubuntu-bold.woff') format('woff'),
	url('../fonts/ubuntu-bold.ttf') format('truetype'),
	url('../fonts/ubuntu-bold.svg#ubuntubold') format('svg');
	font-weight: normal;
	font-style: normal;
}