html, body {
	height: 100%;
}

body {
	font-family: "ubunturegular";
	font-size: 12px;

	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	display: flex;
	width: 100%;
	flex-direction: column;
}

a,
a:hover,
a:focus,
a:active {
	color: #00b5ff;
}

.text-primary {
	color: #00b5ff !important;
}

.text-dark {
	color: #616161 !important;
}

.overflow-hidden {
	overflow: hidden;
}

.btn {
	font-family: "ubunturegular";
	border-radius: 3px;
	height: 32px;
	line-height: 10px;
	padding: 9px 16px;
	font-size: 13px;
}

.btn-default {
	color: #8b8b8b;
	background-color: #f3fbff;
	border-color: #f3fbff;
}

.btn-default:not(:disabled):not(.disabled).active:focus, .btn-default:not(:disabled):not(.disabled):active:focus, .show > .btn-default.dropdown-toggle:focus,
.btn-default.focus, .btn-default:focus {
	box-shadow: none;
}

.btn-default:hover {
	background-color: #f5efff;
	border-color: #f5efff;
}

.btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show > .btn-default.dropdown-toggle {
	background-color: #e2d7f4;
	border-color: #e2d7f4;
}

.btn-primary {
	color: #ffffff;
	background-color: #00b5ff;
	border-color: #00b5ff;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus,
.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
}

.btn-primary:hover {
	background-color: #26c0ff;
	border-color: #26c0ff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	background-color: #009ee0;
	border-color: #009ee0;
}

.disabled {
	pointer-events: none;
}