<header class="vm-header-container">
    <section class="d-flex justify-content-between align-items-center">
        <div class="col">
            <figure class="vm-logo mb-0"></figure>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <nav class="vm-header-nav align-content-center mx-auto">
                <a href="time_table">Time Table</a>
                <a href="time_log">Time Log</a>
                <a href="archive" class="active">Archive</a>
                <a href="statistic">Statistic</a>
            </nav>
        </div>
        <div class="col d-flex justify-content-end">
            <div class="vm-profile-controls-container d-flex align-items-center">
                <a class="vm-icon vm-settings-icon mr-3" href="#"><i class="material-icons">settings</i></a>
                <a class="vm-user-menu d-flex align-items-center ml-3" href="#">Derek Alvarez
                    <figure class="vm-user-logo ml-3"></figure>
                </a>
            </div>
        </div>
    </section>
</header>

<main>
    <section class="vm-table-header-section d-flex align-content-center align-items-center justify-content-between">
        <div class="col-2 form-group mb-0 vm-search-container">
            <div class="input-group">
                <input type="text" class="form-control vm-search-control" id="inlineFormInputGroup"
                       placeholder="Username">
                <div class="input-group-append">
                    <div class="input-group-text"><i class="material-icons">search</i></div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-content-center">
            <a class="vm-icon vm-archive-icon-prev-date mr-3 disabled" href="#"><i class="material-icons">arrow_back</i></a>
            <a class="d-flex align-content-center justify-content-between vm-show-calendar-button disabled" href="#">
                <span class="vm-calendar-table"></span>
                <i class="material-icons ml-2">event</i>
            </a>
            <a class="vm-icon vm-archive-icon-next-date ml-3 disabled" href="#"><i
                    class="material-icons">arrow_forward</i></a>
        </div>
        <div class="col-2 mb-0 d-flex justify-content-end align-content-center">
            <a class="ml-3 vm-icon vm-icon-filter" href="#"><i class="material-icons">filter_list</i></a>
        </div>
    </section>

    <section class="vm-archive-table-section d-flex justify-content-end">
        <div class="vm-scrollbar vm-scroll-table-container">
            <div class="vm-archive-table-container container ">
            </div>
        </div>
    </section>
</main>
<footer></footer>