<main class="d-flex">
	<div class="container my-auto vm-main-login">
		<div class="d-flex align-content-center flex-row">
			<section class="vm-login-form my-auto">
				<div class="d-flex justify-content-between">
					<p class="h2">Log In</p>
					<div class="form-group">
						<select class="form-control" id="exampleFormControlSelect1">
							<option>En</option>
							<option>Ru</option>
						</select>
					</div>
				</div>
				<form method="post" action="{apiUrl}/api/session" id="vmLoginForm" data-callback="loginCallback">
					<input type="hidden" name="action" value="sessionStart">
					<div class="form-group mb-5">
						<label for="vmInputLogin">Login</label>
						<input value="admin" type="text" name="userName" class="form-control" id="vmInputLogin" placeholder="" required>
					</div>
					<div class="form-group mb-5">
						<label for="vmInputPassword">Password</label>
						<input value="1111" type="password" name="userPassword" class="form-control" id="vmInputPassword" placeholder="" required>
					</div>
					<div class="d-flex justify-content-between mb-4">
						<div class="form-group col-6 form-check">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1">Remember me</label>
						</div>
						<div class="text-right">
							<a href="#">Forgot password?</a>
						</div>
					</div>
					<button class="btn btn-primary w-100 vm-btn-submit" type="button">Log In</button>
				</form>
			</section>
			<section class="vm-login-text-container my-auto">
				<p class="vm-login-logo"><b>Algo</b>Faces</p>
				<p>An innovative way of visiting statistics</p>
			</section>
		</div>
	</div>
</main>
<footer class="d-flex justify-content-between">
	<p class="vm-footer-copyright-login">&copy;2017-2018 VideoMetrica. Made with love for a better life</p>
	<nav class="vm-footer-nav">
		<a>Term of use</a>
		<a>Privacy police</a>
		<a>Customer support</a>
	</nav>
</footer>