<header class="vm-header-container">
	<section class="d-flex justify-content-between align-items-center">
		<div class="col">
			<figure class="vm-logo mb-0"></figure>
		</div>
		<div class="col-6 d-flex justify-content-center">
			<nav class="vm-header-nav align-content-center mx-auto">
				<a href="time_table" class="active">Time Table</a>
				<a href="time_log">Time Log</a>
				<a href="archive">Archive</a>
				<a href="statistic">Statistic</a>
			</nav>
		</div>
		<div class="col d-flex justify-content-end">
			<div class="vm-profile-controls-container d-flex align-items-center">
				<a class="vm-icon vm-settings-icon mr-3" href="#"><i class="material-icons">settings</i></a>
				<a class="vm-user-menu d-flex align-items-center ml-3" href="#">Derek Alvarez
					<figure class="vm-user-logo ml-3"></figure>
				</a>
			</div>
		</div>
	</section>
</header>
<main>
	<section class="vm-table-header-section d-flex align-content-center align-items-center justify-content-between">
		<div class="col-2 form-group mb-0 vm-search-container">
			<div class="input-group">
				<input type="text" class="form-control vm-search-control" id="inlineFormInputGroup" placeholder="User search">
				<div class="input-group-append">
					<div class="input-group-text vm-btn-search"><i class="material-icons">search</i></div>
				</div>
			</div>
		</div>

		<div class="col-2 d-flex justify-content-end align-content-center">
            <div class="input-group">
                <select class="form-control" id="departmentSearchInput"></select>
            </div>
        </div>

		<div class="col d-flex justify-content-center align-content-center">
			<a class="vm-icon vm-icon-prev-date mr-3 disabled" href="#"><i class="material-icons">arrow_back</i></a>
			<a class="d-flex align-content-center justify-content-between vm-show-calendar-button disabled" href="#">
				<span class="vm-calendar-table"></span>
				<i class="material-icons ml-2">event</i>
			</a>
			<a class="vm-icon vm-icon-next-date ml-3 disabled" href="#"><i class="material-icons">arrow_forward</i></a>
		</div>

		<div class="col-2 d-flex justify-content-end align-content-center">
			<a class="d-flex align-content-center justify-content-between vm-add-new-user" href="#">
				<i class="material-icons mr-2">person_add</i>
				<span>Add worker</span>
			</a>
		</div>

		<div class="col-2 mb-0 d-flex justify-content-end align-content-center">
			<div class="dropdown">
				<a class="vm-icon vm-icon-help dropdown-toggle" href="#" id="dropdownMenuHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,0"><i class="material-icons">help_outline</i></a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuHelp">
					<span class="dropdown-item-text px-3">Details</span>
					<div class="d-flex flex-nowrap vm-dropdown-item align-content-center my-2 mx-3">
						<div class="mr-2"><div class="vm-dropdown-line vm-time-line vm-time-line__green"></div></div>
						<small class="text-nowrap align-self-center">501, main office</small>
					</div>
					<div class="d-flex flex-nowrap vm-dropdown-item align-content-center my-2 mx-3">
						<div class="mr-2"><div class="vm-dropdown-line vm-time-line vm-time-line__orange"></div></div>
						<small class="text-nowrap align-self-center">502, kitchen</small>
					</div>
					<div class="d-flex flex-nowrap vm-dropdown-item align-content-center my-2 mx-3">
						<div class="mr-2"><div class="vm-dropdown-line vm-time-line vm-time-line__blue"></div></div>
						<small class="text-nowrap align-self-center">Enter, Exit</small>
					</div>
				</div>
			</div>
			<a class="ml-3 vm-icon vm-icon-filter" href="#"><i class="material-icons">filter_list</i></a>
		</div>
	</section>
	<section class="vm-time-table-section d-flex justify-content-end">
		<div class="vm-scroll-table-container vm-scrollbar">
			<div class="col-2 vm-search-no-result align-content-center">
				<img src="images/ic-search-no-results@3x.png" class="ic_search-no-results">
				<div class="text-no-result">No result</div>
			</div>
			<div class="col-2 vm-time-table--left-panel"></div>
			<div class="col-12 vm-time-table--right-panel" data-scroll-y-margin-offset="40"></div>
		</div>
	</section>
</main>
<footer></footer>

<template id="vmUserWorkTimeInfoTemplate">
	<div class="vm-user-work-time-info-container d-flex align-content-center flex-wrap">
		<div class="pull-left">
			<div class="vm-in-container d-flex w-100 px-2 py-1">
				<img src="images/icon-in.svg" width="21" height="15" class="pr-1">
				<span class="mr-1">In</span>
				<span class="ml-auto vm-in-time">0h 0m</span>
			</div>
			<div class="vm-out-container d-flex w-100 px-2 py-1">
				<img src="images/icon-out.svg" width="21" height="15" class="pr-1">
				<span class="mr-1">Out</span>
				<span class="ml-auto vm-out-time">0h 0m</span>
			</div>
		</div>
		<div class="pull-right vm-total-days">1 day</div>
	</div>
</template>

<template id="vmTimeLineTemplate">
	<div class="position-absolute vm-time-line-container d-flex vm-time-line-container-template">
		<div class="vm-time-line vm-time-line__green w-100"></div>
	</div>
</template>

<template id="vmAddNewUserTemplate">
	<form action="{apiUrl}/api/users?userHash={userHash}" name="" method="POST" enctype="multipart/form-data" data-callback="saveUserCallback" id="formSaveUser">
		<fieldset>
			<input type="hidden" name="id" value="0">
			<input type="hidden" name="action" value="saveUser">
			<div class="d-flex align-content-center align-items-top justify-content-between">
				<div class="col-3 pl-0 pr-0">
					<div class="upload-file-container">
						<img class="vm-worker-photo" id="vm-worker-photo-1" src="#" alt="">
						<label for="photo1">
							<a class="d-flex align-content-center">
								<i class="material-icons mr-4">attach_file</i>
								<span>Select a file</span>
							</a>
						</label>
						<a class="d-flex align-content-center text-danger delete-photo" href="#">
							<i class="material-icons mr-4">delete</i>
							<span>Delet a photo</span>
						</a>
						<input type="file" name="photo" class="vm-input-worker-photo" id="photo1" accept="image/*">
					</div>
				</div>

				<div class="col d-flex justify-content-between align-content-center">
					<div class="col-6 pl-0">
						<label for="nameInput">User Name</label>
						<input type="text" id="nameInput" name="fio_ru" class="">
						<label for="departmentInput">Department</label>
						<select name="departament_id" id="departmentInput"></select>
					</div>
					<div class="col-6 pr-0">
						<label for="emailInput">Email</label>
						<input type="email" id="emailInput" name="email" class="">
						<label for="phoneInput">Phone</label>
						<input type="text" id="phoneInput" name="phone" class="">
					</div>
				</div>
			</div>
			<hr>
			<div class="d-flex align-content-center align-items-top justify-content-between">
				<div class="col-3 pl-0 pr-0">
					<label>Doors Opening</label>
				</div>
				<div class="col d-flex justify-content-between align-content-center">
					<label>Photo for recognition</label>
				</div>
			</div>
			<br>
			<div class="d-flex align-content-center align-items-top justify-content-between">
				<div class="col-3 pl-0 pr-0">
					<div class="selects-open-door">
						<select name="office[]"></select>
					</div>
					<a class="d-flex align-content-center add-office" data-toggle="modal" data-target="#modalAddOfiice" href="#">
						<i class="material-icons mr-4">add</i>
						<span>Add office</span>
					</a>
				</div>
				<div class="col d-flex justify-content-between align-content-center">
					<div class="col-4 pl-0">
						<div class="upload-file-container">
							<img class="vm-worker-photo" id="vm-worker-photo-2" src="#" alt="">
							<label for="photo2">
								<a class="d-flex align-content-center">
									<i class="material-icons mr-4">attach_file</i>
									<span>Select a file</span>
								</a>
							</label>
							<a class="d-flex align-content-center text-danger delete-photo" href="#">
								<i class="material-icons mr-4">delete</i>
								<span>Delet a photo</span>
							</a>
							<input type="file" name="neuron_photo1" class="vm-input-worker-photo" id="photo2" accept="image/*">
						</div>
					</div>
					<div class="col-4 pl-0">
						<div class="upload-file-container">
							<img class="vm-worker-photo" id="vm-worker-photo-3" src="#" alt="">
							<label for="photo3">
								<a class="d-flex align-content-center">
									<i class="material-icons mr-4">attach_file</i>
									<span>Select a file</span>
								</a>
							</label>
							<a class="d-flex align-content-center text-danger delete-photo" href="#">
								<i class="material-icons mr-4">delete</i>
								<span>Delet a  photo</span>
							</a>
							<input type="file" name="neuron_photo2" class="vm-input-worker-photo" id="photo3" accept="image/*">
						</div>
					</div>
					<div class="col-4 pl-0">
						<div class="upload-file-container">
							<img class="vm-worker-photo" id="vm-worker-photo-4" src="#" alt="">
							<label for="photo4">
								<a class="d-flex align-content-center">
									<i class="material-icons mr-4">attach_file</i>
									<span>Select a file</span>
								</a>
							</label>
							<a class="d-flex align-content-center text-danger delete-photo" href="#">
								<i class="material-icons mr-4">delete</i>
								<span>Delet a photo</span>
							</a>
							<input type="file" name="neuron_photo3" class="vm-input-worker-photo" id="photo4" accept="image/*">
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</template>

<div class="modal fade" id="modalAddOfiice" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add office</h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">close</i></button>
			</div>
			<div class="modal-body">
				<select id="vmListOffices">
					<option class="non" value="option1">Option1</option>
					<option class="non" value="option2">Option2</option>
					<option class="editable" value="0">Other...</option>
				</select>
				<input id="newOfficeName" class="editOption" style="display:none;" placeholder="" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="saveOffice">Save</button>
			</div>
		</div>
	</div>
</div>